<div class="t-hackcss-navigation">

  <div class="media">
  <div class="media-body">
    <h2 class="t-hackcss-navigation-heading">Menu</h2>
  </div>
  <div class="media-right">
    <div class="avatarholder"><img src="{{ site.baseurl }}/images/icon-profile.png" style="width:100%;height:100%"></div>
  </div>
</div>

  <nav class="menu" role="menubar">
    {% assign url = page.url|remove:'index.html' %}
    {% for link in site.navigation %}
      <a class="menu-item {% if url == link.url %}active{% endif %}"
        role="menuitem" href="{{ link.url | prepend: site.baseurl }}" title="{{ link.title }}">
        {{ link.text }} <div class="pull-right">»</div>
      </a>
    {% endfor %}
  </nav>

</div>
